.mainContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.canvas {
  flex: 7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniboard {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toolBox {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-evenly;
}

.localplot-container {
  flex: 5;
  background-color: aliceblue;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}
